@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16A085 ;
    font-family: 'Roboto Serif', serif;
    padding: 30px;
}
.main-card {
  min-width: 50%;
  height: 60%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.349);
}

.row{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-container{
    width: 40px;
    height: 40px;
    border: 1px gray solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
img{
    transform: scale(0.7);
}
.text {
    font-weight: bold;
    color: gray;
}